.tsd-text-tabcontent
    .tsd-text.tsd-grid
        .tsd-col-1-4
            div.tsc-text__textarea-label Добавить текст:
        .tsd-col-3-4
            textarea.tsd-text__textarea(ng-model="vm.itemParams.backText.string")
    include side-chooser.jade