.tsd-text-tabcontent
    .tsd-text.tsd-grid
        div.tsd-text__textarea-label Добавить текст:
        textarea.tsd-text__textarea(ng-model="vm.itemParams.frontText.string")
    .tsd-format.tsd-grid
        .tsd-col-1-3
            p Выбрать шрифт:
                select.tsd-format__select(ng-model="vm.itemParams.frontText.fontFamily")
                    option(ng-repeat="font in vm.fonts")
                        | {{font.name}}

        .tsd-col-1-3.tsd-text-center
            p Выбрать цвет:
                span.tsd-format__color
                    spectrum(ng-model="vm.itemParams.frontText.color", options="vm.spectrumOptions")

        .tsd-col-1-3.tsd-text-right
            p Выбрать размер:
                select.tsd-format__select(ng-model="vm.itemParams.frontText.size", convert-to-number)
                    option(ng-repeat="size in [12, 14, 16, 18, 24, 32, 48, 72]")
                        | {{size}}
    .tsd-formatter-container
        i.tsd-formatter(
            ng-repeat="f in vm.itemParams.frontText.format",
            ng-class="{'selected':f.selected, '{{vm.formatterClass(f.name)}}': true}",
            ng-click="vm.selectFormatter(vm.itemParams.frontText.format[$index])")
    include side-chooser.jade
