.tsd-image-tabcontent(data-image-tabcontent=tab)
    .tsd-color-chooser.tsd-grid
        .tsd-col-1-2.tsd-color-chooser__predefined-color-block
            span Выберите цвет:
            ul.tsd-color-chooser__predefined-color-list
                each color in ['#000', '#ec008c', '#f00', '#f26521', '#fff200', '#177b2f', '#00bff3', '#a7a7a7', '#8c2424']
                    li.tsd-color-chooser__predefined-color-list-item(style='background-color:'+color, data-tsd-color=tab + color)
        .tsd-col-1-2.tsd-color-chooser__dropdown
            //todo: сделать дропдаун выбора цвета
    .tsd-image-uploader.tsd-grid
        .tsd-col-1-2.tsd-image-uploader__form
            span Добавить изображение:

            .tsd-image-uploader__form-button
                | Загрузить
                span.tsd-image-uploader__form-button-image
            .tsd-image-uploader__form-input
                input(type="file", name=tab+"_image", id=tab+'_image')
        .tsd-col-1-2.tsd-image-uploader__hint
            | Разрешение изображения должно быть не менее
            | 1000 на 1000 пикселей