
.row.vcenter
    .large-4.large-offset-4.columns
        p.hint Подсказка: admin@admin.ru/asdf
        form(name="loginForm", ng-submit="submit()")
            .row
                .large-12.columns
                    label Логин
                        input(type="email", ng-model="email", placeholder="Введите email", ng-pattern="/admin\@admin\.ru/", required)
            .row
                .large-12.columns
                    label Пароль
                        input(type="password", ng-model="pass", ng-pattern="/asdf/", required)
            .row
                input.button(type="submit", ng-disabled="loginForm.$invalid", value="Войти" )
