.tsd-product-info.tsd-grid
    .tsd-info-grid__text.tsd-col-1-2
        p Информация о товаре:
        p НЕ ВЫСТИРЫВАЕТСЯ / не выцветает
        | Изделие с ярким и насыщенным
        | изображением выдерживает
        | неограниченное количество стирок.
        | Изображение нанесено методом
        | сублимации очень стойкое к стирке и
        | воздействию солнечных лучей. Стирать
        | такой материал можно любым моющим
        | средством для стирки тканей при
        | температуре воды до 60 градусов.
    .tsd-info-grid__img.tsd-col-1-2.tsd-text-center
        img(src="i/tsd-info-img.jpg")
