.tsd-step-block(data-step='1')
    include ./sex-chooser.jade
    hr.tsd-hr
    include ./product-type.jade
    hr.tsd-hr
    include ./print-type.jade
    hr.tsd-hr
    .additional-info
        .tooltips.text-product(style='\
            height: 250px;\
            ')
            .b-information__title Информация о товаре
            img.textImg(src='/images/themes/default/text/fut_man.jpg', alt='')
            .text-block(style='\
              float: right;\
              ')
                b ТКАНЬ МИКРОФИБРА
                |  – трикотажное полотно, позволяющее коже дышать и поддерживать комфортный микроклимат.
                i.ico.ico_info
                span.tooltip-inner
                    | Микрофибра – это текстильный материал двадцать первого века, способный кардинально перевернуть традиционные представления об одежде. Благодаря химической и световой устойчивости, футболка из экологически чистого сверхтонкого микроволокна крайне практична, а также обладает высокими потребительскими свойствами. Микрофибра – дышащая ткань. Воздухопроницаемость обеспечивается малым сечением нити. Из-за особых свойств микрофибры одежда из нее всесезонна: летом она не впитывает влагу, а зимой отлично сохраняет тепло. Структура волокна делает ткань приятной для тела. Вещи из микрофибры дают возможность чувствовать себя очень свободно и естественно.
            .text-block(style='\
              float: right;\
              ')
                b НЕ ВЫСТИРЫВАЕТСЯ
                |  – изделие с ярким и насыщенным изображением выдерживает неограниченное количество стирок.
                i.ico.ico_info
                span.tooltip-inner
                    | Изображение нанесенное методом сублимации очень стойкое к стирке и воздействию солнечных лучей. Стирать такой материал можно любым моющим средством для стирки тканей при температуре воды до 60 градусов.
    .tsd-step-change
        .tsd-step-change-next
            | Далее
            i.ico.ico_btn