.tsd-type.tsd-grid
    .tsd-type-btn.selected(data-type='tshirt').tsd-col-1-4.tsd-text-left
        .tsd-panel__button-icon-box.tsd-panel__button-icon-box--tshirt
        | Футболка
    .tsd-type-btn(data-type='singlet').tsd-col-1-4.tsd-text-center
        .tsd-panel__button-icon-box.tsd-panel__button-icon-box--singlet
        | Майка
    .tsd-type-btn(data-type='svitshot').tsd-col-1-4.tsd-text-center
        .tsd-panel__button-icon-box.tsd-panel__button-icon-box--svitshot
        | Свитшот
    .tsd-type-btn(data-type='kenguruha').tsd-col-1-4.tsd-text-right
        .tsd-panel__button-icon-box.tsd-panel__button-icon-box--kenguruha
        | Кенгуруха
