.tsd-step-block(ng-show="vm.currentTab === 1")
    include ./sex-chooser.jade
    hr.tsd-hr
    include ./product-type.jade
    hr.tsd-hr
    include ./print-type.jade
    hr.tsd-hr
    include ./product-info.jade
