.tsd-step-block(ng-show="vm.currentTab === 2")
    .tsd-image__tabcontent.tsd-image__tabcontent--frontside(data-image-tab="frontside")
        - var tab = 'frontside'
        include image-tabcontent
    .tsd-image__tabcontent.tsd-image__tabcontent--backside(data-image-tab="backside").tsd-hidden
        - var tab = 'backside'
        include image-tabcontent
