.tsd-step-menu
    .tsd-step-menu__button.tsd-col-1-4(
        ng-repeat="tab in vm.tabs",
        ng-class="{'selected':vm.isActiveTab(tab.id)}"
        ng-click="vm.changeTab(tab.id)"
    ) {{tab.name}}