.tsd-step-block(ng-show="vm.currentTab === 2")
    .tsd-image__tabcontent.tsd-image__tabcontent--frontside(ng-show="vm.currentSide==='frontside'")
        include frontside-tabcontent
    .tsd-image__tabcontent.tsd-image__tabcontent--backside(ng-show="vm.currentSide==='backside'")
        include backside-tabcontent
