@import '../bower_components/normalize.sass/_normalize.sass';
@import './variables.scss';
@import './grid.scss';

@import './step-menu.scss';
@import './sex-chooser.scss';
@import './type-chooser.scss';
@import './print-type-chooser.scss';
@import './buttons.scss';
@import './image-tab';

body {
    width: 1260px;
}

.tsd-container {
    margin: 0 auto;
    min-width: 1260px;
}

.tsd-container-left {
  margin: 20px 0;
  width: 450px;
  height: 800px;
  float: left;
  border: 1px solid gray;
}

.tsd-container-right {
    margin: 20px 0;
    width: 760px;
    float: right;
}

.tsd-hr {
  height: 1px;
  border: 0;
  background: $light-gray;
}

.tsd-hidden {
  display: none;
}