extends layout
block title
    title Style title
block content
    .tsd-container(ng-app="printo-app")
        .tsd-container-left()
            include ./partials/canvas
        .tsd-container-right(ng-controller="FormCtrl as vm")
            include ./partials/step-menu
            include ./partials/step1__product
            include ./partials/step2__image
            include ./partials/step3__text
            include ./partials/buttons
