extends layout
block title
    title Style title
block content
    .tsd-container
        .tsd-container-left
            include ./partials/canvas
        .tsd-container-right
            include ./partials/step-menu
            include ./partials/step1__product
            include ./partials/step2__image
            include ./partials/buttons
