extends layout
block title
    title Style title
block content
    .tsd-container
        .tsd-container-left
            include ./partials/canvas.jade
        .tsd-container-right
            include ./partials/step-menu.jade
            include ./partials/product.jade
